.main-container {
  max-width: 400px;
  min-height: 300px;
  margin: 0px auto;
  box-shadow: 0px 0px 5px gray;
  background-color: rgb(199, 113, 127);
  margin-top: 40px;
  padding: 15px 50px;
  
}

.main-container h1 {
  text-align: center;
  color: white;
  padding-top: 10px;
  text-shadow: 0px 0px 10px black;
}

.main-container h3 {
  padding: 10px 20px;
  color: white;
  text-shadow: 0 0 10px gray;
}

.balance {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px gray;
  background-color: white;
}

.balance h3 {
  color: black;
}

.green {
  color: green;
}

.red{
  color: red;
}

.form-control input {
  width: 100%;
  margin: 10px 0;
  padding: 7px 0;
}

.Transcation-history {
  list-style: none;
  margin: 0;
  padding: 0 ;
}

.Transcation-history > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  margin: 5px 0;
  background-color: white;
}

label {
  color: white;
  font-weight: bold;
}

